.app-wrapper {
  min-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .session-id {
    font-size: 0.6rem;
    color: rgb(78, 78, 78);
    padding: 20px;
    text-align: center;
  }

  .app-box {
    width: 100%;
    max-width: 450px;
    min-height: 500px;
    padding: 15px;
    margin: 25px 0 0;
    background: rgba(255, 255, 255, 0.247);
    border-radius: 10px;
    border-top: rgba(255, 255, 255, 0.61) solid 1px;
    border-left: rgba(255, 255, 255, 0.37) solid 1px;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.26);
    color: rgb(49, 49, 49);
    user-select: none;
    display: grid;
  }
}
