.button-component {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 10px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.678);
  border-left: 1px solid rgba(255, 255, 255, 0.445);
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.342);
  margin-top: 15px;
  font-size: 1.3rem;
  min-height: 60px;
  font-weight: bold;

  &:hover {
    background-color: rgba(255, 255, 255, 0.288);
  }

  &:focus {
    outline: none;
  }

  &.false:hover {
    &:hover {
      background-color: rgba(233, 90, 90, 0.61);
    }
  }

  &.true:hover {
    background-color: rgba(90, 233, 90, 0.61);
  }
}
