h1,
h2 {
  font-weight: bold;
  color: $header-color;
}

.card {
  background-color: rgba(255, 255, 255, 0.644);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.253);
  border-top: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.726);
  border-radius: 15px;
  padding: 15px;
  margin: 10px 0;
}

.true {
  background-color: rgba(90, 233, 90, 0.452);
}

.false {
  background-color: rgba(233, 90, 90, 0.452);
}
