.question-component {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-weight: bold;
    color: $header-color;
  }

  .question-box {
    font-size: 1.4rem;
  }

  .question-counter {
    text-align: center;
    padding: 0 5px;
    font-size: 0.8rem;

    span {
      border: solid 1px rgb(173, 173, 173);
      padding: 4px 10px;
      background-color: rgba(255, 255, 255, 0.849);
      border-radius: 5px;
    }
  }
}
