.score-component {
  h1 {
    text-align: center;
  }

  .question-result {
    margin: 5px 0;
    padding: 5px 10px;
    border-radius: 5px;
  }

  span.correct-answer-explanation {
    display: block;
    font-size: 0.9rem;
    border-radius: 5px;
    color: rgb(211, 211, 211);
    font-weight: bold;
    border: dashed 1px rgb(179, 16, 16);
    background-color: rgb(189, 78, 78);
    padding: 3px 8px;
  }
}
